/**
 * This file provides styles for the edit view (?do=edit), preview
 * and section edit buttons.
 */

/* edit view
********************************************************************/

/*____________ toolbar ____________*/

.dokuwiki div.toolbar {
    margin-bottom: .5em;
}
.dokuwiki div.toolbar #draft__status {
    float: right;
    color: __text_alt__;
    background-color: inherit;
}
.dokuwiki div.toolbar #tool__bar {
}

/* buttons inside of toolbar */
.dokuwiki div.toolbar button.toolbutton {
}
/* picker popups (outside of .dokuwiki) */
div.picker {
    width: 300px;
    border: 1px solid __border__;
    background-color: __background_alt__;
    color: inherit;
}
/* picker for headlines */
div.picker.pk_hl {
    width: auto;
}
/* buttons inside of picker */
div.picker button.pickerbutton {
}

/*____________ edit textarea ____________*/

.dokuwiki textarea.edit {
    /* should just be "width: 100%", but IE8 doesn't like it, see FS#1910 + FS#1667 */
    width: 700px;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: .5em;
}

/*____________ below the textarea ____________*/

.dokuwiki #wiki__editbar {
    overflow: hidden;
    margin-bottom: .5em;
}

/* size and wrap controls */
.dokuwiki #wiki__editbar #size__ctl {
    float: right;
}
.dokuwiki #wiki__editbar #size__ctl img {
    cursor: pointer;
}

/* edit buttons */
.dokuwiki #wiki__editbar .editButtons {
    display: inline;
    margin-right: 1em;
}
.dokuwiki #wiki__editbar .editButtons input {
}

/* summary input and minor changes checkbox */
.dokuwiki #wiki__editbar .summary {
    display: inline;
}
.dokuwiki #wiki__editbar .summary label {
    vertical-align: middle;
    white-space: nowrap;
}
.dokuwiki #wiki__editbar .summary label span {
    vertical-align: middle;
}
.dokuwiki #wiki__editbar .summary input {
}
/* change background colour if summary is missing */
.dokuwiki #wiki__editbar .summary input.missing {
    color: __text__;
    background-color: #ffcccc;
}

/* preview
********************************************************************/

.dokuwiki div.preview {
    border: dashed __border__;
    border-width: .2em 0;
    padding: 1.4em 0;
    margin-bottom: 1.4em;
}

/* section edit buttons
********************************************************************/

.dokuwiki .secedit {
    float: right;
    margin-top: -1.4em;
}
.dokuwiki .secedit input.button {
    font-size: 75%;
}
.dokuwiki .section_highlight {
    background-color: __background_alt__ !important;
    color: inherit;
}
