/**
 * This file provides the most basic styles.
 *
 * If you integrate DokuWiki into another project, you might either
 * want to integrate this file into the other project as well, or use
 * the other project's basic CSS for DokuWiki instead of this one.
 *
 * @author Anika Henke <anika@selfthinker.org>
 */

html {
    overflow-x: auto;
    overflow-y: scroll;
}
html, body {
    /* @todo: style.ini */
    background-color: #fbfaf9;
    color: __text__;
    background-image: -moz-linear-gradient(   top, #ddd 0%, #eee 1em, #fbfaf9 4em);
    /* do we want to support old browsers?
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddd), color-stop(1em,#eee), color-stop(4em,#fbfaf9));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddd', endColorstr='#fbfaf9',GradientType=0 );
    */
    background-image: -webkit-linear-gradient(top, #ddd 0%, #eee 1em, #fbfaf9 4em);
    background-image: -o-linear-gradient(     top, #ddd 0%, #eee 1em, #fbfaf9 4em);
    background-image: -ms-linear-gradient(    top, #ddd 0%, #eee 1em, #fbfaf9 4em);
    background-image: linear-gradient(        top, #ddd 0%, #eee 1em, #fbfaf9 4em);
    background-size: 1px 10em;
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;
}
body {
    font: normal 87.5%/1.4 Arial, sans-serif;
    /* default font size: 100% => 16px; 93.75% => 15px; 87.5% => 14px; 81.25% => 13px; 75% => 12px */
}


/*____________ headers ____________*/

h1, h2, h3, h4, h5, h6,
caption, legend {
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: #000;/* @todo: style.ini */
    background-color: inherit;
    padding: 0;
    clear: left; /* ideally 'both', but problems with toc */
}

h1 {
    font-size: 2em;
    margin: 0 0 0.444em;
    letter-spacing: -0.035em;
    /*2 lines below makes ascenders of h1 be at the top of block*/
    line-height: 0.75;
    padding-bottom: 0.3em;
}
h2 { font-size: 1.5em;   margin: 0 0 0.666em; }
h3 { font-size: 1.125em; margin: 0 0 0.888em; }
h4 { font-size: 1em;     margin: 0 0 1.0em; }
h5 { font-size: .875em;  margin: 0 0 1.1428em; }
h6 { font-size: .75em;   margin: 0 0 1.333em; }
/* bottom margin = 1 / font-size */


/*____________ basic margins and paddings ____________*/

p, ul, ol, dl, pre, table,
hr, blockquote, fieldset, address {
    margin: 0 0 1.4em 0; /* bottom margin = line-height */
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

p, dt, dd, td, th, li {
}


/*____________ lists ____________*/

ul, ol {
    padding: 0 0 0 1.5em;
}
li, dd {
    padding: 0;
    margin: 0 0 0 1.5em;
}
dt {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

li ul, li ol, li dl,
dl ul, dl ol, dl dl {
    margin-bottom: 0;
    padding: 0;
}
li li {
    font-size: 100%;
}

ul             { list-style: disc outside; }
ol             { list-style: decimal outside; }
ol ol          { list-style-type: lower-alpha; }
ol ol ol       { list-style-type: upper-roman; }
ol ol ol ol    { list-style-type: upper-alpha; }
ol ol ol ol ol { list-style-type: lower-roman; }


/*____________ tables ____________*/

table {
    border-collapse: collapse;
    empty-cells: show;
    border-spacing: 0;
    border: 1px solid __border__;
}

caption {
    caption-side: top;
    text-align: left;
    margin: 0 0 .3em;
}

th, td {
    padding: .3em .5em;
    margin: 0;
    vertical-align: top;
    border: 1px solid __border__;
    text-align: left;
}
th {
    font-weight: bold;
    background-color: __background_alt__;
}


/*____________ links ____________*/

a {
}
a:link, a:visited {
    text-decoration: none;
    color: __link__; /* §colour */
}
a:link:hover, a:visited:hover,
a:link:focus, a:visited:focus,
a:link:active, a:visited:active {
    text-decoration: underline;
}
a:link:focus, a:visited:focus {
    outline: 1px dotted;
}
a:link:active, a:visited:active {
    color: #c00; /* §colour */
}


/*____________ misc ____________*/

img {
    border-width: 0;
    vertical-align: middle;
    color: #666;
    background-color: transparent;
    font-style: italic;
}

hr {
    border-top: solid #ccc;
    border-bottom: solid #fff;
    border-width: 1px 0;
    height: 0;
    width: 100%;
    text-align: center;
    clear: both;
}

acronym, abbr {
    cursor: help;
    border-bottom: 1px dotted;
    font-style: normal;
}

pre, code, samp, kbd {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Bitstream Vera Sans Mono", "Liberation Mono", Monaco, "Courier New", monospace;
    /* same font stack should be used for ".dokuwiki table.diff td" in _diff.css */
    font-size: 1em;
    direction: ltr;
    text-align: left;
}
pre {
    overflow: auto;
}

blockquote {
    padding: 0 1.25em;
    border: solid __border__;
    border-width: 0 0 0 .25em;
}
q:before, q:after {
    content: '';
}

sub, sup {
    font-size: .8em;
    line-height: 1;
}
sub {
    vertical-align: sub;
}
sup {
    vertical-align: super;
}

/*____________ forms ____________*/

form {
    display: inline;
    margin: 0;
    padding: 0;
}
fieldset {
    padding: 1em 1em 0;
    border: 1px solid __text_alt__;
}
legend {
    margin: 0;
    padding: 0 .1em;
}
label {
    vertical-align: middle;
    cursor: pointer;
}
input, textarea, button,
select, optgroup, option {
    font: inherit;
    color: inherit;
    /* background-color destroys button look */
    line-height: 1;
    margin: 0;
    vertical-align: middle;
}
input[type=text], input[type=password], textarea {
    padding: .1em;
}
input[type=radio], input[type=checkbox], input.check {
    padding: 0;
}
input[type=submit], input.button, button {
    cursor: pointer;
}
input[disabled], button[disabled],
input[readonly], button[readonly] {
    cursor: auto;
}
optgroup { font-style: italic; font-weight: bold; }
option   { font-style: normal; font-weight: normal; }

/* @todo: either make input.edit and buttons more generic or put into design.css */
.dokuwiki input.edit {
    border: 1px solid __border__;
    padding: 0.35em .1em;
    -moz-box-shadow: inset 0 0 1px __background_alt__;
    -webkit-box-shadow: inset 0 0 1px __background_alt__;
    box-shadow: inset 0 0 1px __background_alt__;
    border-radius: 2px;
    vertical-align: middle;
}
.dokuwiki input.button,
.dokuwiki button.button,
.dokuwiki div.toolbar button.toolbutton {
    /* @todo: make style.ini colours any sense here? */
    vertical-align: middle;
    color: inherit;
    background-color: #eee;
    background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 30%, #eeeeee 99%, #cccccc 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(30%,#f4f4f4), color-stop(99%,#eeeeee), color-stop(99%,#cccccc));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f4f4f4 30%,#eeeeee 99%,#cccccc 99%);
    background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 30%,#eeeeee 99%,#cccccc 99%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f4f4f4 30%,#eeeeee 99%,#cccccc 99%);
    /*
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 );
    */
    background: linear-gradient(top, #ffffff 0%,#f4f4f4 30%,#eeeeee 99%,#cccccc 99%);
    border: 1px solid #ccc;
    border-radius: 2px;
}
.dokuwiki textarea.edit {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Bitstream Vera Sans Mono", "Liberation Mono", Monaco, "Courier New", monospace;
}



/*____________ general classes ____________*/

div.clearer {
    /* additional to what's already in lib/styles/style.css: */
    font-size: 1px;
    visibility: hidden;
}

.a11y {
    position: absolute;
    left: -9000px;
    top: -4000px;
    width: 0;
    height: 0;
    overflow: hidden;
    display: inline;
}
