#dokuwiki__header h1 a{
  font-size: 24px;
}

#dokuwiki__header{
  padding-top: 3.5em;
  padding-bottom: 1em;
}

#page_id{
  font-size: 0.875em;
  padding-bottom: 1em;
  color: #888;
}

.breadcrumbs{
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  color: #888;
}

#dokuwiki__content .page{
  position: relative;
}

/*____________ basic ____________*/

a:link{
  color: #06d;
}
a:visited{
  color: #2E5E94;
  border-bottom: 1px dotted #09d;
}

/*____________ content ____________*/

.mode_show #dokuwiki__content h1{
  line-height: 1.175em;
}

.mode_show #dokuwiki__aside{
  /*border-top: 1px solid #ccc;*/
  font-size: 0.87em;
  /* @todo: is 1.5 intentional? shouldn't it be less? */
  line-height: 1.5;
}

.mode_show #dokuwiki__aside h1{
  font-size: 1.25em;
  margin-top: 1.25em;
}

.mode_show #dokuwiki__aside h1:first-child{
  margin-top: 0;
}


/*____________ _edit ____________*/

.dokuwiki .secedit {
    float: none;
    margin: -1em 0 1.4em 0;
    text-align: right;
}
.dokuwiki div.secedit {
}
.dokuwiki .secedit input.button {
    padding: 0.5em 0.9em;
    color: #555;
}
