/**
 * This file provides the main design styles for the
 * bits that surround the content.
 *
 * @author Anika Henke <anika@selfthinker.org>
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author Clarence Lee <spicynoodles@gmail.com>
 */

/* header
********************************************************************/

#dokuwiki__header {
    padding: 2em 0;
}

#dokuwiki__header .headings,
#dokuwiki__header .tools {
    margin-bottom: 1em;
    width: 49%;
}
#dokuwiki__header h1 img {
    float: left;
    margin-right: .5em;
}
#dokuwiki__header h1 span {
    display: block;
    padding-top: 10px;
}
#dokuwiki__header h1 {
    margin-bottom: 0;
    font-size: 1.5em;
    /*
    text-shadow: 1px 1px 0px #fff;
    */
}
#dokuwiki__header h1 a {
    text-decoration: none;
    /* @todo: style.ini */
    color: #000;
    background-color: inherit;
}
#dokuwiki__header h1 a:hover,
#dokuwiki__header h1 a:active,
#dokuwiki__header h1 a:focus {
}
#dokuwiki__header p.claim {
    margin-bottom: 0;
    /*color: __text_neu__;*/
    font-size: 0.875em;
}

#dokuwiki__header .tools {
    margin-top: .2em;
}


/* tools
********************************************************************/

/* highlight selected tool */
.mode_admin a.action.admin,
.mode_login a.action.login,
.mode_register a.action.register,
.mode_profile a.action.profile,
.mode_recent a.action.recent,
.mode_index a.action.index,
.mode_revisions a.action.revs,
.mode_backlink a.action.backlink,
.mode_subscribe a.action.subscribe {
    font-weight: bold;
}

#dokuwiki__header .tools ul {
    padding-left: 0;
    margin-bottom: 0;
}
#dokuwiki__header .tools li {
    font-size: 0.875em;
    margin-left: 1em;
    list-style: none;
    display: inline;
}

/*____________ user tools ____________*/

#dokuwiki__usertools {
    position: absolute;
    top: .5em;
    right: .5em;
    text-align: right;
    width: 100%;
}
#dokuwiki__usertools ul {
    margin: 0 auto;
    padding: 0;
    max-width: __site_width__;
}
#IE6 #dokuwiki__usertools ul {
    width: 100%;
}
#dokuwiki__usertools ul li.user {
}

/*____________ page tools ____________*/

#dokuwiki__site .site {
    padding-left: 40px;
    padding-right: 40px;
}
#dokuwiki__usertools {
    right: 40px;
}

#dokuwiki__pagetools.version01 {
    position: absolute;
    right: -37px;
    top: 2em;
}
#dokuwiki__pagetools.version02 {
    position: absolute;
    left: __sidebar_width__;
    top: 2em;
    margin-left: -2.6em;
}

#dokuwiki__pagetools div.tools {
    position: fixed;
}

#dokuwiki__pagetools ul {
    position: absolute;
    width: 32px;
    overflow: hidden;
    border: 1px solid __border__;
    border-radius: 2px;
    margin: 0;
    padding: 0;
    background-color: __background__;
    color: inherit;
}
#dokuwiki__pagetools.version01 ul {
    right: 0;
    text-align: right;
}
#dokuwiki__pagetools.version02 ul {
    left: 0;
    text-align: left;
}


#dokuwiki__pagetools:hover ul,
#dokuwiki__pagetools:active ul,
#dokuwiki__pagetools:focus ul {
    width: auto;
    box-shadow: 0 0 .3em #666;
}

#dokuwiki__pagetools ul li {
    padding: 4px 2px;
    margin: 0;
    list-style: none;
    font-size: 0.875em;
}
#dokuwiki__pagetools.version01:hover ul li,
#dokuwiki__pagetools.version01:active ul li,
#dokuwiki__pagetools.version01:focus ul li {
    padding: 4px 4px;
}


#dokuwiki__pagetools ul li a {
    white-space: nowrap;
    background-repeat: no-repeat;
    padding-right: 0;
    padding-left: 32px;
    background-position: 10px center;
}

#dokuwiki__pagetools.version01:hover ul li a,
#dokuwiki__pagetools.version01:active ul li a,
#dokuwiki__pagetools.version01:focus ul li a {
    padding-right: 32px;
    padding-left: 0;
    background-position: right center;
}


#dokuwiki__pagetools.version03,
#dokuwiki__pagetools.version04,
#dokuwiki__pagetools.version05 {
    position: fixed;
    bottom: 0;
    width: 100%;
}
#dokuwiki__pagetools.version03 {
    left: 0;
}
#dokuwiki__pagetools.version04 {
    left: __sidebar_width__;
}
#dokuwiki__pagetools.version05 {
    right: 0;
}
#dokuwiki__pagetools.version03 div.tools,
#dokuwiki__pagetools.version04 div.tools,
#dokuwiki__pagetools.version05 div.tools {
    position: relative;
    max-width: __site_width__;
    margin: 0 auto;
}
#dokuwiki__pagetools.version03 ul {
    position: static;
    width: auto;
    box-shadow: 0 0 .3em #666;
    padding: .2em 40px;
    margin-left: __sidebar_width__;
}
#dokuwiki__pagetools.version04 ul {
    position: absolute;
    bottom: .2em;
    left: -.2em;
    padding: .2em;
}
#dokuwiki__pagetools.version05 ul {
    position: absolute;
    bottom: .2em;
    right: -.2em;
    padding: .2em;
    text-align: right;
}
#dokuwiki__pagetools.version03 ul li {
    display: inline;
}
#dokuwiki__pagetools.version03 ul li:first-child {
    padding-left: 2em;
}
#dokuwiki__pagetools.version03 ul li a {
    padding-left: 22px;
    padding-right: 1em;
    background-position: 0 center;
}

#dokuwiki__pagetools.version05:hover ul li,
#dokuwiki__pagetools.version05:active ul li,
#dokuwiki__pagetools.version05:focus ul li {
    padding: 4px 4px;
}
#dokuwiki__pagetools.version05:hover ul li a,
#dokuwiki__pagetools.version05:active ul li a,
#dokuwiki__pagetools.version05:focus ul li a {
    padding-right: 32px;
    padding-left: 0;
    background-position: right center;
}

/* @todo: add NEW icons */
#dokuwiki__pagetools ul li a.edit {
    background-image: url(images/pagetools/pencil.png);
}
#dokuwiki__pagetools ul li a.show {
    background-image: url(images/pagetools/page.png);
}
#dokuwiki__pagetools ul li a.create {
    background-image: url(images/pagetools/pencil_add.png);
}
#dokuwiki__pagetools ul li a.draft {
    background-image: url(images/pagetools/inbox-document-text.png);
}
#dokuwiki__pagetools ul li a.source {
    background-image: url(images/pagetools/page_code.png);
}
#dokuwiki__pagetools ul li a.revs {
    background-image: url(images/pagetools/time.png);
}
#dokuwiki__pagetools ul li a.backlink {
    background-image: url(images/pagetools/arrow_redo.png);
}
#dokuwiki__pagetools ul li a.subscribe {
    background-image: url(images/pagetools/email_star.png);
}
#dokuwiki__pagetools ul li a.top {
    background-image: url(images/pagetools/arrow_up.png);
}


/*____________ site tools ____________*/

#dokuwiki__sitetools {
    text-align: right;
}

#dokuwiki__sitetools form.search {
    display: block;
    font-size: 0.875em;
    position: relative;
}
#dokuwiki__sitetools form.search input.edit {
    width: 16em;
    padding-right: 22px;
}
#dokuwiki__sitetools form.search input.button {
    background: transparent url(images/search.png) no-repeat 0 0;
    border-width: 0;
    width: 19px;
    height: 14px;
    text-indent: -99999px;
    margin-left: -20px;
}

#dokuwiki__sitetools ul {
    margin-top: 0.5em;
}
#dokuwiki__sitetools li {
}

/*____________ breadcrumbs ____________*/

/* version01 */

.dokuwiki div.breadcrumbs.version01 {
    border-top: 1px solid __border__;
    border-bottom: 1px solid __background__;
    margin-bottom: .5em;
    font-size: 0.875em;
    clear: both;
}
.dokuwiki div.breadcrumbs.version01 div {
    padding: .1em .35em;
}

.dokuwiki div.breadcrumbs.version01 div:only-child {
    border-top: 1px solid __background__;
    border-bottom: 1px solid __border__;
}
.dokuwiki div.breadcrumbs.version01 div:first-child {
    border-top: 1px solid __background__;
}
#IE7 .dokuwiki div.breadcrumbs.version01 div,
#IE8 .dokuwiki div.breadcrumbs.version01 div {
    border-bottom: 1px solid __border__;
}
.dokuwiki div.breadcrumbs.version01 div:last-child {
    border-bottom: 1px solid __border__;
}

/* version02 */

.dokuwiki div.breadcrumbs.version02 {
    border-bottom: 1px solid __background__;
    margin-bottom: .5em;
    padding: .1em 0;
    font-size: 0.875em;
    clear: both;
}

.dokuwiki div.breadcrumbs.version02 div {
    padding: .1em 0;
}

.dokuwiki div.breadcrumbs.version02 div:only-child,
.dokuwiki div.breadcrumbs.version02 div:last-child {
    border-bottom: 1px solid __border__;
}
#IE7 .dokuwiki div.breadcrumbs.version02 div,
#IE8 .dokuwiki div.breadcrumbs.version02 div {
    border-bottom: 1px solid __border__;
}

/* version03 */

.dokuwiki div.breadcrumbs.version03 {
    border: 1px solid __border__;
    padding: .1em .35em;
    -moz-box-shadow: inset 0 0 1px __background_alt__;
    -webkit-box-shadow: inset 0 0 1px __background_alt__;
    box-shadow: inset 0 0 1px __background_alt__;
    border-radius: 2px;
    background-color: #fdfdfd;
    margin-bottom: .5em;
    font-size: 0.875em;
    clear: both;
}


.dokuwiki div.breadcrumbs a {
    color: __link__;
    background-color: inherit;
}
.dokuwiki div.breadcrumbs .bcsep {
    font-size: 0.75em;
}


/* sidebar
********************************************************************/

#dokuwiki__aside {
}
#dokuwiki__aside .pad {
    line-height: 1.2;
    font-size: 0.875em;
}

/* make sidebar more condensed */

#dokuwiki__aside h1 { margin-bottom: .222em; }
#dokuwiki__aside h2 { margin-bottom: .333em; }
#dokuwiki__aside h3 { margin-bottom: .444em; }
#dokuwiki__aside h4 { margin-bottom: .5em; }
#dokuwiki__aside h5 { margin-bottom: .5714em; }

#dokuwiki__aside p, #dokuwiki__aside ul, #dokuwiki__aside ol, #dokuwiki__aside dl,
#dokuwiki__aside pre, #dokuwiki__aside table, #dokuwiki__aside fieldset,
#dokuwiki__aside hr, #dokuwiki__aside blockquote, #dokuwiki__aside address {
    margin-bottom: .7em;
}

#dokuwiki__aside ul, #dokuwiki__aside ol {
    padding-left: 0;
}
#dokuwiki__aside li ul, #dokuwiki__aside li ol {
    margin-bottom: 0;
}

#dokuwiki__aside a:link,
#dokuwiki__aside a:visited {
    color: __link__;
    background-color: inherit;
}


/* content
********************************************************************/

.dokuwiki .pageId {
    position: absolute;
    top: -1.5em;
    right: 0;
    font-size: 0.875em;
    border: solid __background_alt__;
    border-width: 1px 1px 0;
    background-color: __background__;
    color: __text_alt__;
    padding: .1em .35em;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.dokuwiki div.page {
    background: __background__;
    color: inherit;
    border: 1px solid #eee;
    box-shadow: 0 0 .5em #999;
    border-radius: 2px;
    padding: 2em;

}

/*____________ misc ____________*/

/* license note under edit window */
.dokuwiki div.license {
    font-size: 93.75%;
}
/* license note in footer */
.dokuwiki #dokuwiki__footer div.license {
    font-size: 100%;
}

#IE6 .dokuwiki input.button, #IE6 .dokuwiki button,
#IE7 .dokuwiki input.button, #IE7 .dokuwiki button {
    line-height: 1.4;
}

.dokuwiki div.toolbar button.toolbutton {
    border-radius: 0;
    border-right-width: 0;
}
.dokuwiki div.toolbar button.toolbutton:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.dokuwiki div.toolbar button.toolbutton:last-child {
    border-right-width: 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/*____________ JS popup ____________*/

.JSpopup {
    background-color: __background__;
    color: __text__;
    border: 1px solid __border__;
    line-height: 1.2;
    padding: 0 .2em;
}

.JSpopup ul,
.JSpopup ol {
    padding-left: 0;
}


/* footer
********************************************************************/

.dokuwiki .wrapper {
    margin-bottom: 1.4em;
}
#IE6 .dokuwiki .wrapper {
    margin-bottom: .7em;
}

#dokuwiki__footer {
    margin-bottom: 1em;
}
#dokuwiki__footer .pad {
    font-size: 0.875em;
}
#IE6 #dokuwiki__footer,
#IE7 #dokuwiki__footer {
    height: 1%;
}
#dokuwiki__footer .doc {
    float: left;
}
#dokuwiki__footer .top {
    float: right;
}
#dokuwiki__footer .license {
    clear: both;
}
#dokuwiki__footer .license img {
    margin: 0 .5em 0 0;
    float: none;
}

