/**
 * This file provides the main design styles for the
 * bits that surround the content.
 *
 * @author Anika Henke <anika@selfthinker.org>
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author Clarence Lee <spicynoodles@gmail.com>
 */

/* header
********************************************************************/

#dokuwiki__header {
    padding: 2em 0 1.5em;
}

#dokuwiki__header .headings,
#dokuwiki__header .tools {
    margin-bottom: 1.5em;
    width: 49%;
}
#dokuwiki__header h1 img {
    float: left;
    margin-right: .5em;
}
#dokuwiki__header h1 span {
    display: block;
    padding-top: 10px;
}
#dokuwiki__header h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
}
#dokuwiki__header h1 a {
    text-decoration: none;
    color: __text__;
    background-color: inherit;
}
#dokuwiki__header h1 a:hover,
#dokuwiki__header h1 a:active,
#dokuwiki__header h1 a:focus {
}
#dokuwiki__header p.claim {
    margin-bottom: 0;
    font-size: 0.875em;
}

#dokuwiki__header .tools {
    margin-top: .2em;
}


/* tools
********************************************************************/

/* highlight selected tool */
.mode_admin a.action.admin,
.mode_login a.action.login,
.mode_register a.action.register,
.mode_profile a.action.profile,
.mode_recent a.action.recent,
.mode_index a.action.index,
.mode_revisions a.action.revs,
.mode_backlink a.action.backlink,
.mode_subscribe a.action.subscribe {
    font-weight: bold;
}

#dokuwiki__header .tools ul {
    padding-left: 0;
    margin-bottom: 0;
}
#dokuwiki__header .tools li {
    font-size: 0.875em;
    margin-left: 1em;
    list-style: none;
    display: inline;
}
#dokuwiki__header .tools form.search div.ajax_qsearch li {
    font-size: 1em;
    margin-left: 0;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*____________ user tools ____________*/

#dokuwiki__usertools {
    position: absolute;
    top: .5em;
    right: .5em;
    text-align: right;
    width: 100%;
}
#dokuwiki__usertools ul {
    margin: 0 auto;
    padding: 0;
    max-width: __site_width__;
}
#IE6 #dokuwiki__usertools ul {
    width: 100%;
}
#dokuwiki__usertools ul li.user {
}

/*____________ page tools ____________*/

#dokuwiki__site .site {
    padding-left: 40px;
    padding-right: 40px;
}
#dokuwiki__usertools {
    right: 40px;
}

#dokuwiki__pagetools {
    position: absolute;
    right: -42px;
    top: 2em;
}

#dokuwiki__pagetools div.tools {
    position: fixed;
}

#dokuwiki__pagetools ul {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    text-align: right;
}

#dokuwiki__pagetools.version03 ul {
    border: 1px solid __border__;
    border-radius: 2px;
    background-color: __background__;
    box-shadow: .1em .1em .1em __text__;
    margin: 0 -.5em;
}
#dokuwiki__pagetools.version02:hover ul li a span,
#dokuwiki__pagetools.version02:active ul li a span,
#dokuwiki__pagetools.version02:focus ul li a span,
#dokuwiki__pagetools.version03:hover ul li a span,
#dokuwiki__pagetools.version03:active ul li a span,
#dokuwiki__pagetools.version03:focus ul li a span {
    display: inline;
}
#dokuwiki__pagetools.version02 ul {
    margin: 0 -.5em;
    border: 1px solid transparent;
}
#dokuwiki__pagetools.version02:hover ul {
    border: 1px solid __border__;
    border-radius: 2px;
    background-color: __background__;
    box-shadow: .1em .1em .1em __text__;
}


#dokuwiki__pagetools ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0.875em;
}

#dokuwiki__pagetools ul li a {
    display: block;
    min-height: 17px;
    padding: .5em 34px .5em 1em;
    background-repeat: no-repeat;
    background-position: right center;
    white-space: nowrap;
    border: 1px solid transparent;
}
#dokuwiki__pagetools.version02 ul li a,
#dokuwiki__pagetools.version03 ul li a {
    padding: .2em 34px .2em .5em;
}
#dokuwiki__pagetools.version01 ul li a:hover,
#dokuwiki__pagetools.version01 ul li a:active,
#dokuwiki__pagetools.version01 ul li a:focus {
    border-radius: 2px;
    background-color: __background__;
    box-shadow: .1em .1em .1em __text__;
    text-decoration: none;
    border-color: __border__;
}
#dokuwiki__pagetools ul li a span {
    display: none;
}
#dokuwiki__pagetools.version01 ul li a:hover span,
#dokuwiki__pagetools.version01 ul li a:active span,
#dokuwiki__pagetools.version01 ul li a:focus span {
    display: inline;
}



/* @todo: add NEW icons */
#dokuwiki__pagetools ul li a.edit {
    background-image: url(images/pagetools/edit.png);
}
#dokuwiki__pagetools ul li a.edit:hover,
#dokuwiki__pagetools ul li a.edit:active,
#dokuwiki__pagetools ul li a.edit:focus {
    background-image: url(images/pagetools/edit-active.png);
}

#dokuwiki__pagetools ul li a.create {
    background-image: url(images/pagetools/create.png);
}
#dokuwiki__pagetools ul li a.create:hover,
#dokuwiki__pagetools ul li a.create:active,
#dokuwiki__pagetools ul li a.create:focus {
    background-image: url(images/pagetools/create-active.png);
}

#dokuwiki__pagetools ul li a.show {
    background-image: url(images/pagetools/show.png);
}
#dokuwiki__pagetools ul li a.show:hover,
#dokuwiki__pagetools ul li a.show:active,
#dokuwiki__pagetools ul li a.show:focus {
    background-image: url(images/pagetools/show-active.png);
}

#dokuwiki__pagetools ul li a.source {
    background-image: url(images/pagetools/source.png);
}
#dokuwiki__pagetools ul li a.source:hover,
#dokuwiki__pagetools ul li a.source:active,
#dokuwiki__pagetools ul li a.source:focus {
    background-image: url(images/pagetools/source-active.png);
}

#dokuwiki__pagetools ul li a.draft {
    background-image: url(images/pagetools/draft.png);
}
#dokuwiki__pagetools ul li a.draft:hover,
#dokuwiki__pagetools ul li a.draft:active,
#dokuwiki__pagetools ul li a.draft:focus {
    background-image: url(images/pagetools/draft-active.png);
}

#dokuwiki__pagetools ul li a.revs {
    background-image: url(images/pagetools/revisions.png);
}
#dokuwiki__pagetools ul li a.revs:hover,
#dokuwiki__pagetools ul li a.revs:active,
#dokuwiki__pagetools ul li a.revs:focus,
.mode_revisions #dokuwiki__pagetools ul li a.revs {
    background-image: url(images/pagetools/revisions-active.png);
}

#dokuwiki__pagetools ul li a.backlink {
    background-image: url(images/pagetools/backlink.png);
}
#dokuwiki__pagetools ul li a.backlink:hover,
#dokuwiki__pagetools ul li a.backlink:active,
#dokuwiki__pagetools ul li a.backlink:focus,
.mode_backlink #dokuwiki__pagetools ul li a.backlink {
    background-image: url(images/pagetools/backlink-active.png);
}

#dokuwiki__pagetools ul li a.top {
    background-image: url(images/pagetools/top.png);
}
#dokuwiki__pagetools ul li a.top:hover,
#dokuwiki__pagetools ul li a.top:active,
#dokuwiki__pagetools ul li a.top:focus {
    background-image: url(images/pagetools/top-active.png);
}

#dokuwiki__pagetools ul li a.revert {
    background-image: url(images/pagetools/revert.png);
}
#dokuwiki__pagetools ul li a.revert:hover,
#dokuwiki__pagetools ul li a.revert:active,
#dokuwiki__pagetools ul li a.revert:focus,
.mode_revert #dokuwiki__pagetools ul li a.revert {
    background-image: url(images/pagetools/revert-active.png);
}

#dokuwiki__pagetools ul li a.subscribe {
    background-image: url(images/pagetools/subscribe.png);
}
#dokuwiki__pagetools ul li a.subscribe:hover,
#dokuwiki__pagetools ul li a.subscribe:active,
#dokuwiki__pagetools ul li a.subscribe:focus,
.mode_subscribe #dokuwiki__pagetools ul li a.subscribe {
    background-image: url(images/pagetools/subscribe-active.png);
}

/*____________ site tools ____________*/

#dokuwiki__sitetools {
    text-align: right;
}

#dokuwiki__sitetools form.search {
    display: block;
    font-size: 0.875em;
    position: relative;
}
#dokuwiki__sitetools form.search input.edit {
    width: 16em;
    padding: .35em 22px .35em .1em;
}
#dokuwiki__sitetools form.search input.button {
    background: transparent url(images/search.png) no-repeat 0 0;
    border-width: 0;
    width: 19px;
    height: 14px;
    text-indent: -99999px;
    margin-left: -20px;
}

#dokuwiki__sitetools ul {
    margin-top: 0.5em;
}
#dokuwiki__sitetools li {
}

/*____________ breadcrumbs ____________*/

.dokuwiki div.breadcrumbs {
    border-top: 1px solid __border__;
    border-bottom: 1px solid __background__;
    margin-bottom: .5em;
    font-size: 0.875em;
    clear: both;
}
.dokuwiki div.breadcrumbs div {
    padding: .1em .35em;
}

.dokuwiki div.breadcrumbs div:only-child {
    border-top: 1px solid __background__;
    border-bottom: 1px solid __border__;
}
.dokuwiki div.breadcrumbs div:first-child {
    border-top: 1px solid __background__;
}
#IE7 .dokuwiki div.breadcrumbs div,
#IE8 .dokuwiki div.breadcrumbs div {
    border-bottom: 1px solid __border__;
}
.dokuwiki div.breadcrumbs div:last-child {
    border-bottom: 1px solid __border__;
}

.dokuwiki div.breadcrumbs a {
    color: __link__;
    background-color: inherit;
}
.dokuwiki div.breadcrumbs .bcsep {
    font-size: 0.75em;
}


/* sidebar
********************************************************************/

#dokuwiki__aside {
}
#dokuwiki__aside .pad {
    font-size: 0.875em;
    overflow: hidden;
    word-wrap: break-word;
}

/* make sidebar more condensed */

/* make h1 in sidebar ugly and small to prevent people using it */
#dokuwiki__aside h1 {
    font-size: .7em;
    color: green;
    background-color: pink;
}
#dokuwiki__aside h2 {
    margin-bottom: .333em;
}
#dokuwiki__aside h3 {
    margin-bottom: .444em;
}
#dokuwiki__aside h4 {
    margin-bottom: .5em;
}
#dokuwiki__aside h5 {
    margin-bottom: .5714em;
}

#dokuwiki__aside p,
#dokuwiki__aside ul,
#dokuwiki__aside ol,
#dokuwiki__aside dl,
#dokuwiki__aside pre,
#dokuwiki__aside table,
#dokuwiki__aside fieldset,
#dokuwiki__aside hr,
#dokuwiki__aside blockquote,
#dokuwiki__aside address {
    margin-bottom: .7em;
}

#dokuwiki__aside ul,
#dokuwiki__aside ol {
    padding-left: 0;
}
#dokuwiki__aside li ul,
#dokuwiki__aside li ol {
    margin-bottom: 0;
}

#dokuwiki__aside a:link,
#dokuwiki__aside a:visited {
    color: __link__;
    background-color: inherit;
}


/* content
********************************************************************/

.dokuwiki .pageId {
    position: absolute;
    top: -2.3em;
    right: -1em;
    overflow: hidden;
    padding: 1em 1em 0;
}
.dokuwiki .pageId span {
    font-size: 0.875em;
    border: solid __background_alt__;
    border-width: 1px 1px 0;
    background-color: __background__;
    color: __text_alt__;
    padding: .1em .35em;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0 0 .5em #999;
    display: block;
}

.dokuwiki div.page {
    background: __background__;
    color: inherit;
    border: 1px solid #eee;
    box-shadow: 0 0 .5em #999;
    border-radius: 2px;
    padding: 2em;
    margin-bottom: .5em;
    overflow: hidden;
    word-wrap: break-word;
}

.dokuwiki .docInfo {
    font-size: 0.875em;
    text-align: right;
}

/*____________ misc ____________*/

/* license note under edit window */
.dokuwiki div.license {
    font-size: 93.75%;
}
/* license note in footer */
.dokuwiki #dokuwiki__footer div.license {
    font-size: 100%;
}

#IE6 .dokuwiki input.button,
#IE6 .dokuwiki button,
#IE7 .dokuwiki input.button,
#IE7 .dokuwiki button {
    line-height: 1.4;
}

.dokuwiki div.toolbar button.toolbutton {
    border-radius: 0;
    border-left-width: 0;
    padding: .1em .35em;
}
.dokuwiki div.toolbar button.toolbutton:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left-width: 1px;
}
.dokuwiki div.toolbar button.toolbutton:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

div.picker button.pickerbutton,
div.picker button.toolbutton {
    padding: .1em .35em;
    border-width: 0;
}

.dokuwiki div.section_highlight {
    margin-left: -2em;
    border-left-width: 1em;
}

.dokuwiki textarea.edit {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Bitstream Vera Sans Mono", "Liberation Mono", Monaco, "Courier New", monospace;
}


#acl__tree li {
    margin: 0;
}


/*____________ JS popup ____________*/

.JSpopup {
    background-color: __background__;
    color: __text__;
    border: 1px solid __border__;
    box-shadow: .1em .1em .1em __border__;
    border-radius: 2px;
    padding: .3em .5em;
    font-size: .9em;
}
.dokuwiki form.search div.ajax_qsearch {
    top: -.35em;
    font-size: 1em;
    text-overflow: ellipsis;
}

.JSpopup ul,
.JSpopup ol {
    padding-left: 0;
}


/* footer
********************************************************************/

.dokuwiki .wrapper {
    margin-bottom: 1.4em;
}
#IE6 .dokuwiki .wrapper {
    margin-bottom: .7em;
}

#dokuwiki__footer {
    margin-bottom: 1em;
}
#dokuwiki__footer .pad {
    font-size: 0.875em;
}
#dokuwiki__footer div.license {
    text-align: center;
}
#dokuwiki__footer .license img {
    margin: 0 .5em 0 0;
    float: none;
}

