body {
       background-color:#eee;
       color:#000;
       font:100%/1.2em Georgia,Verdana,Arial,Helvetica,sans-serif;
       margin-left:20ex;
       max-width:120ex;
       }

#sf { float:right; }

h1 {
     background-image:url(rephlux.png);
     background-repeat:no-repeat;
     margin-top:0;
     padding:20px 0 0 90px;
     color:#600;
     font-size:3em;
     line-height: 1em;
     background-color:inherit;
     border-bottom:9px double #333;
     }

pre {
      font-size:120%;
      line-height:1.2em;
      color:#006;
      }