/conf/*.local.conf
/conf/acl.auth.php
/conf/local.php
/conf/local.protected.php
/conf/users.auth.php
/conf/user*.css
/conf/user*.js
/conf/words.aspell
/conf/lang/*
/conf/plugin_lang/*
.htaccess
*.swp
*.bak
*.old
*~
/data/attic/*
/data/cache/*
/data/index/*
/data/locks/*
/data/media/*
/data/meta/*
/data/pages/*
/data/tmp/*
/lib/tpl/*
/lib/plugins/*
!/lib/plugins/acl
!/lib/plugins/config
!/lib/plugins/info
!/lib/plugins/plugin
!/lib/plugins/popularity
!/lib/plugins/revert
!/lib/plugins/safefnrecode
!/lib/plugins/usermanager
!/lib/plugins/action.php
!/lib/plugins/admin.php
!/lib/plugins/index.html
!/lib/plugins/syntax.php
