# Editor and temporary files
*.swp
*.bak
*.old
*~
*.DS_Store
*.iml
.idea/
.buildpath
.project
.settings/

# DokuWiki
.htaccess
/conf/*.local.conf
/conf/acl.auth.php
/conf/local.php
/conf/local.protected.php
/conf/users.auth.php
/conf/user*.css
/conf/user*.js
/conf/words.aspell
/conf/lang/*
/conf/plugin_lang/*
/conf/plugins.local.*
/conf/tpl/*
/data/attic/*
/data/cache/*
/data/index/*
/data/locks/*
/data/log/*
/data/media/*
/data/media_meta/*
/data/media_attic/*
/data/meta/*
/data/pages/*
/data/tmp/*
!/data/pages/wiki/dokuwiki.txt
!/data/pages/wiki/syntax.txt
!/data/pages/wiki/welcome.txt
/lib/tpl/*
!/lib/tpl/dokuwiki
!/lib/tpl/index.php
/lib/plugins/*
!/lib/plugins/acl
!/lib/plugins/authad
!/lib/plugins/authldap
!/lib/plugins/authmysql
!/lib/plugins/authpgsql
!/lib/plugins/authpdo
!/lib/plugins/authplain
!/lib/plugins/config
!/lib/plugins/extension
!/lib/plugins/info
!/lib/plugins/popularity
!/lib/plugins/revert
!/lib/plugins/safefnrecode
!/lib/plugins/styling
!/lib/plugins/testing
!/lib/plugins/usermanager
!/lib/plugins/logviewer
!/lib/plugins/action.php
!/lib/plugins/admin.php
!/lib/plugins/auth.php
!/lib/plugins/index.html
!/lib/plugins/remote.php
!/lib/plugins/syntax.php
lib/images/*/local/*

# composer default ignores
composer.phar
vendor/bin/*
vendor/*/*/phpunit.xml*
vendor/*/*/.travis.yml
vendor/*/*/.github
vendor/*/*/bin/*
vendor/*/*/tests/*
vendor/*/*/test/*
vendor/*/*/doc/*
vendor/*/*/docs/*
vendor/*/*/contrib/*
vendor/splitbrain/php-archive/apigen.neon
vendor/splitbrain/php-archive/generate-api.sh
vendor/paragonie/random_compat/build-phar.sh
vendor/paragonie/random_compat/dist/*
vendor/paragonie/random_compat/other/*
vendor/simplepie/simplepie/db.sql
vendor/marcusschwarz/lesserphp/package.sh
vendor/marcusschwarz/lesserphp/lessify*
vendor/marcusschwarz/lesserphp/Makefile
vendor/marcusschwarz/lesserphp/plessc
vendor/splitbrain/php-cli/examples/*
vendor/splitbrain/php-cli/screenshot*
vendor/splitbrain/php-cli/generate-api.sh
vendor/splitbrain/php-cli/apigen.neon

# PHPUnit tests
phpunit.phar
*.phpunit.result.cache
_test/data/
