# we need additional plugin(s) for testing
https://github.com/cosmocode/sqlite.git                         lib/plugins/sqlite
https://github.com/dokufreaks/plugin-include/                   lib/plugins/include
https://github.com/cosmocode/log                                lib/plugins/log
