#dw__editform .struct {

    margin-bottom: 1em;

    fieldset {
        width: 100%;
        padding: 0.5em 0;

        display: table;
    }

    label {
        display: table-row;
        text-align: left;

        &:hover {
            background-color: @ini_background_alt;
        }

        span.label {
            width: 10em;
            display: table-cell;
            padding-left: 0.5em;
            padding-top: 0.25em;
            padding-bottom: 0.25em;
        }

        div.input {
            display: table-cell;
            padding-left: 11em;
            padding-top: 0.25em;
            padding-bottom: 0.25em;
        }
    }

    // this should not influence the design
    .newtemplate {
        display: inline;
    }
    // add some spacing to multi-value fields
    .multiwrap {
        display: inline-block;
        margin: 0 0.25em 0.25em 0;
    }
}
