#plugin__struct .jsoneditor-menu {
    display: none;
}

#plugin__struct div.jsoneditor {
    width: 350px;
}

#plugin__struct div.jsoneditor table,
#plugin__struct div.jsoneditor tr,
#plugin__struct div.jsoneditor th,
#plugin__struct div.jsoneditor td,
#plugin__struct div.jsoneditor tbody,
#plugin__struct div.jsoneditor {
    border: 0;
    margin: 0;
}
