<?php
/*
  This is an example of how a local.php coul look like.
  Simply copy the options you want to change from dokuwiki.php
  to this file and change them
 */


//$conf['title']       = 'My Wiki';        //what to show in the title

//$conf['useacl']      = 1;                //Use Access Control Lists to restrict access?
//$conf['superuser']   = 'joe';

/* The following options are usefull, if you use a MySQL
 * database as autentication backend. Have a look into
 * mysql.conf.php too and adjust the options to match
 * your database installation.
 */
//$conf['authtype']   = 'mysql';
//require_once ("mysql.conf.php");


