<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="unittests/bootstrap.php"
        convertNoticesToExceptions="false">

    <testsuites>
        <testsuite name="Default Unit Tests">
            <directory suffix=".test.php">unittests/</directory>
        </testsuite>
    </testsuites>

</phpunit>
