<?php
/**
 * This configures the access to a mysql database. The user needs to have permissions
 * to create and drop databases.
 */
$conf['host'] = '127.0.0.1';
$conf['port'] = 3306;
$conf['user'] = 'root';
$conf['pass'] = '';
