<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="bootstrap.php"
    convertNoticesToExceptions="false"
    colors="true"
    stderr="true"
    >

    <testsuites>
        <testsuite name="DokuWiki Tests">
            <directory suffix=".test.php">tests/</directory>
        </testsuite>
        <testsuite name="Plugin Tests">
            <directory suffix=".test.php">../lib/plugins/*/_test</directory>
        </testsuite>
        <testsuite name="Template Tests">
            <directory suffix=".test.php">../lib/tpl/*/_test</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>flaky</group>
        </exclude>
    </groups>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">../</directory>
            <exclude>
                <directory suffix=".php">../_cs/</directory>
                <directory suffix=".php">../_test/</directory>
                <directory suffix=".php">../lib/plugins/*/_test/</directory>
                <directory suffix=".php">../lib/tpl/*/_test/</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
