<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="bootstrap.php"
    convertNoticesToExceptions="false"
    backupGlobals="yes">

    <testsuites>
        <testsuite name="DokuWiki Tests">
            <directory suffix=".test.php">tests/</directory>
        </testsuite>
        <testsuite name="Plugin Tests">
            <directory suffix=".test.php">../lib/plugins/*/_test</directory>
        </testsuite>
    </testsuites>


</phpunit>
